Flask_WTF==0.14.2
Flask_Login==0.4.1
Flask_Bcrypt==0.7.1
pyodbc==4.0.30
qrcode==6.1
Authlib==0.15.2
itsdangerous==1.1.0
password_strength==0.0.3.post2
Flask_CSV==1.2.0
WTForms==2.2.1
requests==2.25.1
Flask_Mail==0.9.1
Flask==1.1.1
Pillow==8.0.1
werkzeug==2.2.3
rasa
sentry_sdk
redis