{% extends "includes/layout.html" %}
{% block title %}

{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <h2 class="pl-5" style="color: #01E693;">New Releases</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg"/>
                        <figcaption>Dota 2</figcaption>
                        <a href="/item" style="position:absolute; width:100%; height:100%; top:0px; left:0px;"></a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">

                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/2.jpg"/>
                        <figcaption>Stick Fight</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/3.jpg"/>
                        <figcaption>Minion Masters &nbsp $15.00</figcaption>
                        <a href="https://www.google.com"></a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg"/>
                        <figcaption>KoseBoz!</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg"/>
                        <figcaption>KoseBoz!</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg"/>
                        <figcaption>Dota 2</figcaption>
                        <a href="/item" style="position:absolute; width:100%; height:100%; top:0px; left:0px;"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <h2 class="pl-5" style="color: #01E693;">Featured</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg"/>
                        <figcaption>Dota 2</figcaption>
                        <a href="/item" style="position:absolute; width:100%; height:100%; top:0px; left:0px;"></a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">

                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/2.jpg"/>
                        <figcaption>Stick Fight</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/3.jpg"/>
                        <figcaption>Minion Masters &nbsp $15.00</figcaption>
                        <a href="https://www.google.com"></a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg"/>
                        <figcaption>KoseBoz!</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg"/>
                        <figcaption>KoseBoz!</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="wrapper">
                <div class="cards">
                    <figure class="card">
                        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg"/>
                        <figcaption>Dota 2</figcaption>
                        <a href="/item" style="position:absolute; width:100%; height:100%; top:0px; left:0px;"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}