{% extends "includes/layout.html" %}
{% block title %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/style.css"> 
    <style>
        .container1 input[type=text], .container1 input[type=email],  .container1 input[type=password]{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-bottom: 1px solid#01E693;
  border-radius: 3px;
  background: none;
  border-top:none;
  border-right:none;
  color: #01E693
}
</style>
{% endblock%}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
<div class="container1">
    <main id="mainContent">
        <section id="facts">
            <div class="section-header">
                </div>
                <div class="rowRegister">
                    <div class="col-75">
                        <div class="containerRegister">
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="rowRegister">
                                <div class="col-50">
                                    <h2>Edit Card Details</h2>
                                    
                                    <h3>Payment Information</h3>
                                    <label for="ccnum">Credit card number       <i class="fa fa-cc-visa" style="color:rgb(255, 255, 255); font-size:1.5em;"></i>       <i class="fa fa-cc-mastercard" style="color:rgb(255, 255, 255);font-size:1.5em;"></i></label>
                                 
                                    
                                    {% if form.cardno.errors %}
                                            {{ form.cardno(class="form-control form-control-lg is-invalid fixed") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.cardno.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.cardno(placeholder="4111222233334444", value=card[2], class="fixed") }}
                                    {% endif %}
                                    <label for="cname">Name on Card</label>
                                    {% if form.name.errors %}
                                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.name.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.name(placeholder="Benjamin Keng", value=card[1]) }}
                                    {% endif %}

                                    <div class="rowRegister">
                                        <div class="col-50">
                                    <label for="expmonth">Exp Month</label>
                                    
                                    {% if form.exp.errors %}
                                            {{ form.exp(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.exp.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.exp(placeholder="9", value=card[4]) }}
                                    {% endif %}

                                </div>

                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                        
                                        {% if form.year.errors %}
                                            {{ form.year(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.year.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.year(placeholder="2021", value=card[5]) }}
                                        {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                                </div>
                                <div class="rowRegister">
                                    <div class="col-50">
                                {{ form.submit(class="btnRegister") }}
                                </div>
                                <div class="col-50">
                                    <button type='button' style="background-color: #ff3333; width:80%;" class="btnRegister cancel_add">Cancel</button>
                                </div>
                                </div>
                                <!-- <input type="submit" value="COMPLETE REGISTRATION" class="btnRegister"> -->
                            </form>
                        </div>
                    </div>
                </div>                    
                <br><br>
            </div>
        </section>
    </main>
</div>
{% endblock %}