{% extends "includes/layout.html" %}
{% block title %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/style.css"> 
    <style>
        .container1 input[type=text], .container1 input[type=email],  .container1 input[type=password]{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-bottom: 1px solid#01E693;
  border-radius: 3px;
  background: none;
  border-top:none;
  border-right:none;
  color: #01E693
}
</style>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
<div class="container1">
    <main id="mainContent">
        <section id="facts">
            <div class="section-header">
               
                </div>
                <div class="rowRegister">
                    <div class="col-75">
                        <div class="containerRegister">
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="col-50">
                                    <h2>Edit Billing Address</h2>
                                    <h3>Billing Address</h3>
                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                    
                                        {% if form.address.errors %}
                                            {{ form.address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.address(placeholder="542 W. 15th Street", value= address[1]) }}
                                        {% endif %}
                                    
                                    <label for="country"><i class="fa fa-institution"></i> Country</label>
                                    
                                    {% if form.country.errors %}
                                            {{ form.country(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.country.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.country(placeholder="United States", value=address[3], selected=address[3]) }}
                                    {% endif %}
                        
                                    <div class="rowRegister">
                                    <div class="col-50">
                                        <label for="state">State</label>
                                        {% if form.state.errors %}
                                            {{ form.state(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.state.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.state(placeholder="NY", value=address[2]) }}
                                    {% endif %}
                                    </div>
                                    <div class="col-50">
                                        <label for="zip">Postal Code</label>
                                        
                                    {% if form.postal.errors %}
                                            {{ form.postal(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.postal.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.postal(placeholder="569830", value=address[4]) }}
                                    {% endif %}
                                        
                                    </div>
                                    </div>
                                    <div class="rowRegister">
                                        <div class="col-50">
                                    {{ form.submit(class="btnRegister") }}
                                    </div>
                                    <div class="col-50">
                                        <button type='button' style="background-color: #ff3333; width:80%;" class="btnRegister cancel_add">Cancel</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                    
                <br><br>
            </div>
        </section>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var text1 = '{{address[3]}}';
$("select option").filter(function() {
  //may want to use $.trim in here
  return $(this).text() == text1;
}).prop('selected', true);
</script>
{% endblock %}