{% extends "includes/layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<main id="mainContent">
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
              <p class="error-message">ERROR 500: Internal Server Error</p>
              <br>
            </div>
            <img src="../static/img/profile_pic/errorImg.png" height="400px" width="400px" alt="..." class="aboutUsPic" style="opacity: 0.5;">
            <div class="aboutUsContent">
                <br><br><br><br>
                <h3>Your network has blocked some features on this website, please make sure your connection is not private. </h3>
               <br><br><br><br><br><br><br><br><br>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br><br><br><br><br>
        <footer id="footer">
            <div class="footer-top">
              <div class="container">
        
              </div>
            </div>

            <div class="container">
              <div class="copyright">
                &copy; Copyright <strong>Arcrus</strong>. All Rights Reserved
              </div>
            </div>
        </footer><!-- #footer -->
    </div>
{% endblock %}