{% extends "includes/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
<div class="modal fade mx-auto" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body-1">
                <div class="shopping-cart mx-auto " id="shopping-cart">
                    <div class="title text-center ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button><span>Cart</span>
                    </div>

                    <span class="active1" style="display: none;">{{current}}</span>
                <div class="products">
                    
                    <!--Single Product layout template displayed on cart -->
                    {% for product in cartItems %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ product.img }}" height="80px">
                        </div>
                        <div class="description">
                            <span >{{ product.prod_name }}</span>
                        </div>
                        <div class="quantity">
                            <input type="text" name="name" class="quan" id="quantity" value="{{ product.prod_quantity }}" placeholder="Amount">
                        </div>
                        <div class="total-price">${{ product.prod_price }}</div>
                        <div class="remove-product">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                     <!--End of Single Product layout template displayed on cart -->

                    <div class="Subtotal">
                        <span>Subtotal:</span>
                        <span class='totalPrice'>$0</span><br>
                        <span>Total Quantity:</span>
                        <span class='totalQuantity'>0</span>
                    </div>
                </div>
                    <div class="checkout mx-auto">
                        <a href="/checkout" class="checkout-button">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>p
</div>
<main id="mainContent">
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <div class="profileCard">
                    <br>
                    <img class="profile" src="{{ image_file }}" alt="John">
                    <br><br>
                    <h3>{{name}}</h3>
                    <br>
                    <a href="#" class="btn" onclick="openCity(event, 'London')">My Account</a><br>
                    <a href="/changePassword" class="btn" onclick="openCity(event, 'Korea')">Change Password</a><br>
                    <a href="#" class="btn"  onclick="openCity(event, 'Paris')">My Orders</a><br>
                    <a href="#" class="btn"  onclick="openCity(event, 'Tokyo')">My Addresses</a><br>
                    <a href="#" class="btn"  onclick="openCity(event, 'Spain')">My Wallet</a><br>
                    <!-- <a href="#" class="btn"  onclick="openCity(event, 'Italy')">My Reviews</a> -->
                </div>
                <div class="myAccount tabcontent" id="London">

                    <div class="content-section">
                        <div class="media">
                          <img class="rounded-circle account-img" src="">
                          <div class="media-body">

                            <h2 class="account-heading">{{ name }}</h2>
                            <img class="profile" src="{{ image_file }}" alt="John">
                            <p class="text-secondary">{{ email }}</p>
                          </div>
                        </div>
                          <form method="POST" action="" enctype="multipart/form-data">
                              {{ form.hidden_tag() }}
                              <fieldset class="form-group">
                                  <legend class="border-bottom mb-4">Account Info</legend>
                                  <div class="form-group">
                                      {{ form.fullname.label(class="form-control-label") }}
                  
                                      {% if form.fullname.errors %}
                                          {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.fullname.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.fullname(placeholder="Ben Tan") }}
                                      {% endif %}
                                  </div>
                                  <div class="form-group">
                                      {{ form.email.label(class="form-control-label") }}
                                      {% if form.email.errors %}
                                          {{ form.email(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.email.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.email(placeholder="ben@gmail.com") }}
                                      {% endif %}
                                  </div>
                                  <div class="form-group">
                                      {{ form.picture.label() }}
                                      <!-- {{ form.picture(class="form-control-file") }} -->
                                      <input type="file" name="image" id="image" class="form-control-file">
                                      {% if form.picture.errors %}
                                          {% for error in form.picture.errors %}
                                              <span class="text-danger">{{ error }}</span></br>
                                          {% endfor %}
                                      {% endif %}
                                  </div>
                              </fieldset>
                              <div class="form-group">
                                  {{ form.submit(class="btnRegister") }}
                              </div>
                          </form>
                          <button style="background-color: #ff3333; width:80%; position:absolute; bottom:-60px" class="btnRegister disable">Disable Account</button>

                        </div>
                </div>

                <!-- Change password -->
                <div class="myAccount tabcontent" id="Korea" style="display: none;">

                    <div class="content-section">
                    
                          
                              <!-- <fieldset class="form-group">
                                  <legend class="border-bottom mb-4">Change Password</legend>
                                  <div class="form-group" style="outline: none;">
                                    <label for="current_password">Current Password</label>
                                  <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Current Password">
                                  
                                </div>
                                  <div class="form-group">
                                      <label for="password">New Password</label>
                                    <input type="password" style="outline:none" class="form-control" disabled name="password" id="password" placeholder="New Password">
                                  </div>
                                  <meter max="4" id="password-strength-meter"></meter>
                                    <p id="password-strength-text"></p>
                                  <div class="form-group">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirm_password" disabled id="confirm_password" placeholder="Confirm New Password">
                                  </div>
                             
                              </fieldset>
                              <div class="form-group">
                                  <button id="changepassword" class="btnRegister" disabled="true">Change Password</button>
                              </div> -->
                          
                          

                        </div>
                </div>

                <div class="myAccount tabcontent" id="Paris">
                    <h2><strong>MY ORDERS</strong></h2>
                    <p>Check the status of your orders or browse through your past purchases.</p>
                    <hr>
                    {% for i in previous_transactions %}
                    <table>
                        <tr>
                            <td>
                                <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Date</label>
                                <input type="text" id="orderDate" class='tran_date' name="orderDate" value="{{ i.date }}" readonly>
                            </td>
                            <td>
                                <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Order</label>
                                <input type="text" id="order" name="order" value="#{{i.id}}" style="width: 150px;" >
                            </td>
                            <td>
                                <label for="orderStatus"><i class="fa"></i>&nbsp;&nbsp;Status</label>
                                <input type="text" id="orderStatus" name="orderStatus" value="{{i.status}}" style="width: 150px;" readonly>
                            </td>
                            <td>
                                <label for="orderTotal"><i class="fa"></i>&nbsp;&nbsp;Total</label>
                                <input type="text" id="orderTotal" name="orderTotal" value="${{i.total}}" style="width: 150px;" readonly>
                            </td>
                            <div class="dlist">
                            <td class="arrowStyle">
                                <button class="showOrderDetails"><i class="arrow down" id="arrowStyle"></i></button>
                            </td>
                            </div>
                        </tr>
                        {% for j in i['items'] %}   
                        <tr>
                            <td class='previousTran'>
                                <div class="orderDetails" style="display: none;">
                                    <img src="{{ j.img }}" width="100px" height="100px" style="float: left;">
                                    <span class="itemDesc"><p><span class="name">{{ j.prod_name }}</span><br>Quantity: {{ j.prod_quantity }} <br><br></p></span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="modal fade" id="myModal" role="dialog"> <!--CHANGES HERE-->
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                                
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title" style="color: black;">Write a Review</h4>
                                <span style="display: none;">{{i.id}}</span>
                            </div>
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <div class="modal-body">
                                <textarea cols="40" rows="5" style="border: 2px solid black;"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default submit-review" data-dismiss="modal">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>

                    <hr class="lineBreak">
                    {% endfor %}
                    <!-- Sample -->
                    <!-- <table>
                        <tr>
                            <td>
                                <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Date</label>
                                <input type="text" id="orderDate" name="orderDate" value="Nov 22 2019" readonly>
                            </td>
                            <td>
                                <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Order</label>
                                <input type="text" id="order" name="order" value="#91831" readonly>
                            </td>
                            <td>
                                <label for="orderStatus"><i class="fa"></i>&nbsp;&nbsp;Status</label>
                                <input type="text" id="orderStatus" name="orderStatus" value="Delivered" readonly>
                            </td>
                            <td>
                                <label for="orderTotal"><i class="fa"></i>&nbsp;&nbsp;Total</label>
                                <input type="text" id="orderTotal" name="orderTotal" value="$400.00" readonly>
                            </td>
                            <td class="arrowStyle">
                                <button class="showOrderDetails" onclick="showOrderDetails()"><i class="arrow down" id="arrowStyle"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="orderDetails" style="display: none;">
                                    <img src="../static/img/Omega_Black_Watch+Vvallpaper.Net.jpg" width="100px" height="100px" style="float: left;">
                                    <span id="itemDesc"><p>Omega 1989<br>Quantity: 1 <br><br><span class="showReviewSection" data-toggle="modal" data-target="#myModal">Write a Review&nbsp;&nbsp;<i class="fa fa-pencil"></i></span></p></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="modal fade" id="myModal" role="dialog"> 
                        <div class="modal-dialog">
                        
                    
                            <div class="modal-content">
                                
                            <div class="modal-header">
                                
                                <h4 class="modal-title" style="color: black;">Write a Review</h4>
                            </div>
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <div class="modal-body">
                                <textarea cols="40" rows="5"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <hr class="lineBreak"> -->
                    <!-- End of sample -->

                    
                   
                </div>

                <div class="myAccount tabcontent" id="Tokyo"> <!--NEW CHANGES TO THIS DIV-->
                    <h2><strong>MY ADDRESSES</strong></h2>
                    <p>Add or manage the addresses you use often.</p>
                    <hr>

                    {% for userInfo in accountInfo %}
                    {% if userInfo.default == 'True' %}
                        <p class="default-add address padding">
                    {% else %}
                    <p class="address padding">
                    {% endif %}
                        <span class="userAddress">{{ userInfo.address }}</span><br>{{ userInfo.state}} {{ userInfo.postal}}<br>{{ userInfo.country }}<br>
                        <br><a href='/editAddress?address={{ userInfo.address}}' class='editAddress'>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class='removeAddress'>Remove</button><button class="setAsDefault">{{ 'Default Address' if (userInfo.default == 'True') else 'Set as Default address' }}</button></p>
                     
                    <hr class = "lineBreak">
                    {% endfor %}

                    <!-- <p class="address">Nanyang Polytechnic<br>Ang Mo Kio, 123456<br>Singapore<br>
                        <br><a href="">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Remove</a><a href="#" class="setAsDefault">Set as default address</a></p>
                    <hr class = "lineBreak"> -->

                   
                    <a href="{{ url_for('registerStep2') }}" class="btnRegister" style="text-decoration:none;">Add Address</a>
                    
                </div>
                <div class="myAccount tabcontent" id="Spain">
                    <h2><strong>MY WALLET</strong></h2>
                    <p>Save your credit or debit card details for future purchases.</p>
                    <hr>
                    {% for userInfo in card %}
                    
                    {% if userInfo.default == 'True' %}
                        <table class="default">
                    {% else %}
                        <table>
                    {% endif %}
                        <thead class = 'padding'>
                            <td class="padding">Credit Card</td>
                            <td class="padding">Expiration Date</td>
                            <td></td>
                        </thead>
                        <tr>
                            <td><br></td>
                        </tr>

                        <tr>
                            <td class="padding">
                                <p class="walletDetails">
                                    {% if userInfo.card_type == "master" %}
                                        <i class="fa fa-cc-mastercard" style="color:rgb(255, 255, 255);"></i>
                                    {% else %}
                                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                                    {% endif %}
                                    &nbsp;&nbsp;{{ 'MasterCard' if (userInfo.card_type == "master") else 'Visa' }}</p>

                            </td>
                            <td class="padding">
                                <p class="walletDetails">{{ userInfo.exp }}/{{userInfo.year}}</p>
                            </td>
                            <td>
                                <spans style="display:none;">{{ userInfo.cardno}} </spans>
                                <button class="setAsDefaultWallet">{{ 'Default card' if (userInfo.default == 'True') else 'Set as Default card' }}</button>
                            </td>
                        </tr>

                        <tr>
                            <td class="padding">
                                <span style="display: none;">{{userInfo.cardno}}</span>
                                <a href='/editCardInfo?card={{ userInfo.cardno}}&id={{userInfo.id}}' class='editWallet'>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class='removeWallet'>Remove</button>
                            </td>
                        </tr>
                    </table>
                
                    <hr class="lineBreak">
                    {% endfor %}
                    

                    <a href="{{ url_for('registerStep3') }}" class="btnRegister" style="text-decoration:none;">Add Card</a>
                </div>

               
            </div>
        </div>
    </section>
</main>
{% endblock %}