{% extends "includes/layout.html" %}
{% block title %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #01E693!important;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container1">
    <main id="mainContent">
        <section id="facts">
            <div class="section-header">
                <p class="section-title">REGISTER</p>
                <p class="already-member">Already a member?&nbsp;&nbsp;<a href="/login"><strong>Log in</strong></a></p>
                <br>
                <div class="rowRegister">
                    <div class="col-75">
                        <div class="containerRegister">
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="rowRegister">
                                <div class="col-50">
                                    <label for="fname"><i class="fa fa-user"></i>Fullname</label>
                                    {% if form.fullname.errors %}

                                    {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.fullname.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.fullname(placeholder="Benjamin Keng") }}
                                {% endif %}

                                    
                                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                    
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(placeholder="benjamin@gmail.com") }}
                                {% endif %}
                                    <label for="password"><i class="fa fa-lock"></i> Password</label>
                                    
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(placeholder="Password strength must be average or higher", id="password") }}
                                {% endif %}
                                <meter style='display:none' max="4" id="password-strength-meter"></meter>
                                <p  style='display:none' id="password-strength-text"></p>
                                    <label for="password"><i class="fa fa-lock"></i> Confirm Password</label>
                                    
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(placeholder="Retype Password") }}
                                {% endif %}
                                        <br>    
                                        <p class="forgot-password"><a data-toggle="modal" href="#myModal"><strong>Generate Password</strong></a></p>
                                </div>
                                </div>
                                {{ form.submit(class="btnRegister", disabled="true") }}
                                
                                
                            </form>
                        </div>
                    </div>
                </div>                    
                <br><br>
            </div>
        </section>
    </div>
    <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="left: 5.5%;">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="text-align: left;">Password Generator</h4>
        </div>
        <div class="modal-body">
            <p>Password Generated: </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
    </main>
{% endblock %}