{% extends "includes/layout(shop).html" %}
{% block title %}Shop{% endblock %}
{% block shop_page %}
<div class="modal fade mx-auto" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body-1">
                <div class="shopping-cart mx-auto " id="shopping-cart">
                    <div class="title text-center ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button><span>Cart</span>
                    </div>

                    <span class="active1" style="display: none;">{{current}}</span>
                <div class="products">
                    
                    <!--Single Product layout template displayed on cart -->
                    {% for product in cartItems %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ product.prod_img }}" height="80px">
                        </div>
                        <div class="description">
                            <span >{{ product.prod_name }}</span>
                        </div>
                        <div class="quantity">
                            <input type="text" name="name" class="quan" id="quantity" value="{{ product.prod_quantity }}" placeholder="Amount">
                        </div>
                        <div class="quantity">
                            <select name="cars" class="platform_change">
                            <option value="{{product.platform}}">{{product.platform}}</option>
                            <option value="volvo">PC</option>
                            <option value="saab">PS4</option>
                            <option value="mercedes">XBOX</option>
                            <option value="audi">Nitendo Switch</option>
                            </select>
                        </div>
                        <div class="total-price">${{ product.prod_price }}</div>
                        <div class="remove-product">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                     <!--End of Single Product layout template displayed on cart -->

                    <div class="Subtotal">
                        <span>Subtotal:</span>
                        <span class='totalPrice'>$0</span><br>
                        <span>Total Quantity:</span>
                        <span class='totalQuantity'>0</span>
                    </div>
                </div>
                    <div class="checkout mx-auto">
                        <a href="/checkout" class="checkout-button">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
   

    <!-- Start of Search bar + Title -->

    <!-- <div class="container-fluid"> -->
    <div class="row text-center my-row1">
        <div class="col-12">
            <h3 class="product_title">All Our Games</h3>
            <!-- <h5>The most exclusive jewellery around the world</h5> -->
        </div>
    </div>
    <!-- End of Search bar + Title -->


    <!-- Start of product list -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div>
                    <div class="alan-btn"></div>
                </div>
                <div>
                    <input id="searchBar" class="searchbar" type="search" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row products">

            <!-- Start of product template -->
            {% for products in allProducts %}
            <div class="col-10 col-sm-6 col-lg-3 mx-auto my-3">
                <div class="img-container">
                    <a href='/single_product/{{ products[0] }}'>
                        <img src="{{ products.prod_img}}" class="card-img-top store-img" alt="" height="300px" width="200px" data-toggle="modal"
                            data-target="#exampleModalCenter">
                        <span style="display:none;">{{ products[0] }}</span>
                    </a>
                    <span class="store-item-icon">
                        <!-- <button style="display: inline;" , class="cartBtn">Add to cart</button> -->
                        </a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="card-text d-flex text-capitalize">
                        <h5 id="store-item-name" class='itemNames'style="text-transform: capitalize;">{{ products[2]}}</h5>
                    </div>
                    <div>
                        <h6 id="store-item-value">${{ products[3] }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
</div>
<!-- End of product list -->




{% endblock %}