{% extends "includes/layout(shop).html" %}
{% block title %}{% endblock %}
{% block product_page %}
<div class="modal fade mx-auto" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body-1">
                <div class="shopping-cart mx-auto " id="shopping-cart">
                    <div class="title text-center ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button><span>Cart</span>
                    </div>
                <div class="products">
                    
                    <!--Single Product layout template displayed on cart -->
                    {% for product in cartItems %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ product.prod_img }}" height="80px">
                           
                        </div>
                        <div class="description">
                            <span>{{ product.prod_name }}</span>
                            
                        </div>
                         <div class="quantity">
                            <input type="text" name="name" class="quan" value="{{ product.prod_quantity }}">
                        </div> 
                        <div class="quantity">
                            <select name="cars" class="platform_change">
                            <option value="{{product.platform}}">{{product.platform}}</option>
                            <option value="volvo">PC</option>
                            <option value="saab">PS4</option>
                            <option value="mercedes">XBOX</option>
                            <option value="audi">Nitendo Switch</option>
                            </select>
                        </div>
                        <div class="price">${{ product.prod_price }}</div>
                        <div class="remove-product">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                     <!--End of Single Product layout template displayed on cart -->

                    <div class="Subtotal">
                        <span>Subtotal:</span>
                        <span class='totalPrice'>$0</span><br>
                        <span>Total Quantity:</span>
                        <span class='totalQuantity'>0</span>
                    </div>
                </div>
                    <div class="checkout mx-auto">
                        <a href="/checkout" class="checkout-button">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div><a href="/shop">Back To Shop</a></div>
        <div class="row">
            <div class="col-6">
                <div class="thumb-holder">
                    <img class="thumbnail" src="{{data[5]}}">
                </div>
            </div>
            <div class="col-6">
                <div class="singleProductTitlePrice">
                    <div class="singleProductTitle">
                        <h2>{{ data[2] }}</h2>
                    </div>
                    <div class="singleProductPrice">
                        <h4>${{ data[3] }}</h4>
                    </div>
                </div>
                <div class="singleProductQuantity">
                    <p>Quantity</p>
                    <div >
                        <input type="number" value="1" class="singleProductQuantityAmount">
                    </div>
                    <label for="cars">Choose a platform:</label>

                        <select name="cars" id="platform">
                        <option value="volvo">PC</option>
                        <option value="saab">PS4</option>
                        <option value="mercedes">XBOX</option>
                        <option value="audi">Nitendo Switch</option>
                        </select>

                </div>
                <div class="pt-3">
                    <span>{{ data[4] }}</span>
                </div>
                <div class="singleProductCheckout">
                    <span style="display: none;">{{ data[0] }}</span>
                    {% if "user_id" in session %}
                    <button type="button" class='singleProductBtn'>Add to cart</button>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>

    

                    <!-- <li>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>
                            <div class="cd-author">
                                <img src="http://placehold.it/350x350/222222/222222" alt="Author image">
                                <ul class="cd-author-info">
                                    <li>Lorem<strong>Ipsum</strong><br><span>@twitterhandle</span></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </li> -->

                    <!-- <li>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>
                            <div class="cd-author">
                                <img src="http://placehold.it/350x350/222222/222222" alt="Author image">
                                <ul class="cd-author-info">
                                    <li>Lorem<strong>Ipsum</strong><br><span>@twitterhandle</span></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </li> -->


                </ul>
            </div>
            <!-- cd-testimonials -->
        </div>
    </div>
    </div>

{% endblock %}


