<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sidebar template</title>
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
  <link rel="stylesheet" href="../../static/css/admin.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css'>
  <style>
    label{
      color:white
    }

    h2, #example_info{
      color:white
    }

    .btn-group {
      display: none;
    }
    td, tr{
      color: black!important;
    }
  </style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Admin</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">John
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
        </div>
      </div>
      <!-- sidebar-header  -->
      
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          
          <li>
            <a href="/admin">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              
            </a>
          </li>
          <li>
            <a href="/productList">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
            </a>
          </li>
          
          <li>
            <a href="/adminAnalytics">
              <i class="fa fa-chart-line"></i>
              <span>Data</span>
            </a>
          </li>
          
          <li>
            <a href="/listUser">
              <i class="fa fa-globe"></i>
              <span>Users</span>
            </a>
          </li>

          <li>
            <a href="/Calendar">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>

          <li>
            <a href="/Logs">
              <i class="fa fa-calendar"></i>
              <span>Logs</span>
            </a>
         </li>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!-- <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div> -->
  </nav>

  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <h1 style="color: white;">View all Transactions</h1>
    <table id="example" style="background-color: white;" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Date</th>
          <th>Order</th>
          <th>Status</th>
          <th>Total</th>
          <th>View Transaction</th>
        </tr>
      </thead>
      <tbody>
        {% for i in trans %}
        <tr class="add">
          <td>{{i[4]}}</td>
          <td>{{i[1]}}</td>
          <td>#{{i[0]}}</td>
          <td>{{i[2]}}</td>
          <td data-order="1000">${{i[-1]}}</td>
          <td><a href="/adminIndvTran?id={{i[0]}}" style="color:black">View</a></td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>

    </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
<script  src="../../static/js/admin.js"></script>
<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.2.4/js/buttons.bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js'></script>
<script src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js'></script>
<script src='https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js'></script>
<script>
  function EuToUsCurrencyFormat(input) {
	return input.replace(/[,.]/g, function(x) {
		return x == "," ? "." : ",";
	});
}

$(document).ready(function() {
	//Only needed for the filename of export files.
	//Normally set in the title tag of your page.
	document.title = 'DataTable Excel';
	// DataTable initialisation
	$('#example').DataTable({
		"dom": '<"dt-buttons"Bf><"clear">lirtp',
		"paging": true,
		"autoWidth": true,
		"buttons": [{
			extend: 'excelHtml5',
			text: 'Excel',
			customize: function(xlsx) {
				var sheet = xlsx.xl.worksheets['sheet1.xml'];
				//All cells
				$('row c', sheet).attr('s', '25');
				//Second column
				$('row c:nth-child(2)', sheet).attr('s', '42');
				//First row
				$('row:first c', sheet).attr('s', '36');
				// One cell
				$('row c[r^="D6"]', sheet).attr('s', '32');
				// Loop over the cells in column `E` the amount column
				$('row c[r^="E"]', sheet).each(function() {
					if (parseFloat(EuToUsCurrencyFormat($('is t', this).text())) > 1500) {
						$(this).attr('s', '17');
					}
				});
				//All cells of row 10
				$('row c[r*="10"]', sheet).attr('s', '49');
				//Search all cells for a specific text
				$('row* c[r]', sheet).each(function() {
					if ($('is t', this).text().match(/(?:^|\b)(cover)(?=\b|$)/gmi)) {
						$(this).attr('s', '20');
					}
				});
			}
		}]
	});
});


</script>

<script>
 
</script>


</body>
</html>