<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sidebar template</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/css/admin.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <style>
    .table tr a{
      color: black!important;
    }

  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Admin</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">John
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
        </div>
      </div>
      <!-- sidebar-header  -->
      
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          
          <li>
            <a href="/admin">
              <i class="fas fa-tachometer-alt"></i>
              <span>Dashboard</span>
              
            </a>
          </li>
      
            <li>
              <a href="/productList">
                <i class="fa fa-shopping-cart"></i>
                <span>E-commerce</span>
              </a>
            </li>
            
            <li>
              <a href="/adminAnalytics">
                <i class="fa fa-chart-line"></i>
                <span>Data</span>
              </a>
            </li>
            
            <li>
              <a href="/listUser">
                <i class="fa fa-globe"></i>
                <span>Users</span>
              </a>
            </li>
  
            <li>
              <a href="/Calendar">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>

            <li>
            <a href="/Logs">
              <i class="fa fa-calendar"></i>
              <span>Logs</span>
            </a>
         </li>
         
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!-- <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div> -->
  </nav>

  <!-- sidebar-wrapper  -->
  <main class="page-content" style="background-color: white;">
    <h1 style="color:black">User List</h1>

    <div class="container bootstrap snippet">
      <div class="row">
          <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                  <div class="main-box-body clearfix">
                      <div class="table-responsive">
                          <table class="table user-list table-striped">
                              <thead>
                                  <tr>
                                  <th><span>User-ID</span></th>
                                  <th><span>User</span></th>
                                  <th class="text-center"><span>Status</span></th>
                                  <th><span>Email</span></th>
                                  <th>&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for user in users %}
                                  <tr>
                                      <td>
                                        {{user.id }}
                                      </td>
                                      <td>
                                          <img src="{{user.image_file}}" height="100px">
                                          <a href="#" class="user-link">{{ user.fullname }}</a>
                                      </td>
                                      <td class="text-center">
                                          <span class="label label-default">{{user.active}}</span>
                                      </td>
                                      <td>
                                          <a href="#">{{ user.email }}</a>
                                      </td>
                                      <td style="width: 20%;">
                                          <a href="#" class="table-link">
                                              <span class="fa-stack">
                                                  <span style="display: none;">{{ user.id }}</span>
                                                  <i class="fa fa-square fa-stack-2x"></i>
                                                  <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                              </span>
                                          </a>
                                      </td>
                                  </tr>
                                  {% endfor %}

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

    </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>  
<script  src="../../static/js/admin.js"></script>


</body>
</html>