<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sidebar template</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/admin.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <style>
    .showOrderDetails{
      background-color: #1e2229!important;
    }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Admin</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">John
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
        </div>
      </div>
      <!-- sidebar-header  -->
     
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          
          <li>
            <a href="/admin">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              
            </a>
          </li>
          <li>
            <a href="/productList">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
            </a>
          </li>
          
          <li>
            <a href="/adminAnalytics">
              <i class="fa fa-chart-line"></i>
              <span>Data</span>
            </a>
          </li>
          
          <li>
            <a href="/listUser">
              <i class="fa fa-globe"></i>
              <span>Users</span>
            </a>
          </li>

          <li>
            <a href="/Calendar">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>

          <li>
            <a href="/Logs">
              <i class="fa fa-calendar"></i>
              <span>Logs</span>
            </a>
         </li>
         
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!-- <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div> -->
  </nav>

  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <h1>User: {{user[7]}}</h1>
    <a href="/listUser" style="text-decoration: underline;">&larr;Back to User List</a>

    <div class="container emp-profile">
      <form method="post">
          <div class="row">
              <div class="col-md-4">
                  <div class="profile-img">
                      <img src="{{user[5]}}" alt=""/>
                      <!-- <div class="file btn btn-lg btn-primary">
                          Change Photo
                          <input type="file" name="file"/>
                      </div> -->
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="profile-head">
                              <h5>
                                  {{user[7]}}
                              </h5>
                              <h6>
                                  Member
                              </h6>
                              <p class="proile-rating">RANKINGS : <span>10/10</span></p>
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                          </li>

                      </ul>
                  </div>
              </div>
              
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="profile-work">
                      <p>SKILLS</p>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="tab-content profile-tab" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Name</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>{{user[7]}}</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Email</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>{{user[2]}}</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Status</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>{{ 'Active' if user[1]==1 else 'Inactive'}}</p>
                                      </div>
                                  </div>
                      </div>

                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                 
                      </div>

                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Your Bio</label><br/>
                        <p>Your detail description</p>
                    </div>
                </div>
            </div>
                  </div>
              </div>
          </div>
      </form>           
  </div>

  <div class="myAccount" style='display: block;'="Paris">
    <h2><strong>Recent Transactions</strong></h2>
    <p>Check the status of {{user.fullname}} orders or browse through their past purchases.</p>
    <hr>
    {% for i in previous_transactions %}
    <table>
        <tr>
            <td>
                <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Date</label>
                <input type="text" id="orderDate" class='trans_date' name="orderDate" value="{{ i[1] }}" readonly>
            </td>
            <td>
                <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Order</label>
                <input type="text" id="order" name="order" value="#{{i[0]}}" readonly>
            </td>
            <td>
                <label for="orderStatus"><i class="fa"></i>&nbsp;&nbsp;Status</label>
                <input type="text" class="orderStatuss" name="orderStatus" value="{{i[2]}}" readonly>
            </td>
            <td>
                <label for="orderTotal"><i class="fa"></i>&nbsp;&nbsp;Total</label>
                <input type="text" id="orderTotal" name="orderTotal" value="${{i[4]}}" readonly>
            </td>
            <td class="arrowStyle">
                <button class="showOrderDetails" onclick="showOrderDetails()"><i class="arrow down" id="arrowStyle"></i></button>
            </td>
        </tr>
        {% for j in i[3] %}   
        <tr>
            <td class='previousTran'>
                <div class="orderDetails" style="display: none;">
                    <img src="{{ j[3] }}" width="100px" height="100px" style="float: left;">
                    <span class="itemDesc"><p><span class="name">{{ j[0] }}</span><br>Quantity: {{ j[2] }} <br><br>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
  
    {% endfor %}
    </div>


    <div class="myAccount" style="display: block;" id="Italy">
      <h2><strong>Recent REVIEWS</strong></h2>
      <p>Browse through {{user.fullname}} recent reviews</p>
      <hr>
      {% for i in reviews %}
      <table>
          <tr>
              <td>
                  <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Date</label>
                  <input type="text" id="orderDate" name="orderDate" class='trans_date' value="{{i.date_purchase}}" readonly>
              </td>
              <td>
                  <label for="orderDate"><i class="fa"></i>&nbsp;&nbsp;Order</label>
                  <input type="text" id="order" name="order" value="#{{i.transaction_id}}" readonly>
              </td>
              <td>
                  <label for="orderStatus"><i class="fa"></i>&nbsp;&nbsp;Status</label>
                  <input type="text" id="orderStatuss" name="orderStatus" value="Delivered" readonly>
              </td>
              <td>
                  <label for="orderTotal"><i class="fa"></i>&nbsp;&nbsp;Total</label>
                  <input type="text" id="orderTotal" name="orderTotal" value="${{i.prod_price}}" readonly>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="reviewDetails">
                      <img src="{{i.img}}" width="100px" height="100px" style="float: left;">
                      <span id="itemDesc"><p><span>{{i.prod_name}}</span><br>Quantity: {{i.prod_quantity}} <br><br></p></span>
                      <p class="review"><span class="starsGiven">Stars Given: {{(i.rating)}} Stars</span><br>Comment: {{i.comment}}<br><br>
                  </div>
              </td>
          </tr>
      </table>
      <br><br><br><hr class="lineBreak">
      {% endfor %}
      
  </div>
    </main>
  <!-- page-content" -->
<!-- page-wrapper -->
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
<script  src="../../static/js/admin.js"></script>


</body>
</html>